{% extends 'base.html.twig' %}

{% block body %}
    {{ include('/user/_login.html.twig', {'last_username': last_username}, false) }}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
{% endblock %}
