{% extends 'base.html.twig' %}

{% block header %}<h1>Posts</h1>{% endblock %}

{% block body %}
<div id="fh5co-main">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2><i class="icon-file"></i> Show post</h2>
					<div class="fh5co-spacer fh5co-spacer-sm"></div>
					<div class="row">
						<div class="col-md-12">
                            <div class="fh5co-pricing-table">
								<ul class="fh5co-list-check">
									<li class="fh5co-include">
                                        <h3>Fullname</h3>
                                        <p>{{ post.fullname }}</p>
                                    </li>
									<li class="fh5co-include">
                                        <h3>Title</h3>
                                        <p>{{ post.title }}</p>
                                    </li>
									<li class="fh5co-include">
                                        <h3>Content</h3>
                                        <p>{{ post.content }}</p>
                                    </li>
									<li class="fh5co-include">
                                        <h3>Published at</h3>
                                        <p>{{ post.publishedAt |date  }}</p>
                                    </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
        	</div>
       </div>
	</div>
{% endblock %}
