{% extends 'base.html.twig' %}

{% block header %}<h1>AddA your comments!</h1>{% endblock %}

{% block body %}
<div id="fh5co-main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2><i class="icon-speech-bubble"></i> Add your comment!</h2>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
